@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

h1 {
  margin: 0;
}

h2 {
  font-size: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #1a1a19;
  font-family: "Montserrat", sans-serif;
  position: relative;
  /* max-width: 1440px; */
  position: relative;
  /* overflow: hidden; */
}

._eclipse {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

._open {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
  animation: show;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
  width: 90%;
}

.bg-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 0;
  visibility: inherit;
}

.header {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  z-index: 6;
}

._scroll {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  padding: 0.5em 0;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em 2em;
  padding: 0em 1em;
}

.link_services,
.link_phone {
  font-size: 16px;
}

.link_home:hover path,
.link_services:hover path,
.link_contacts:hover path,
.link_phone:hover path,
.link_services-hidden:hover path {
  fill: #6cc852;
  border-color: #6cc852;
  transition: all 0.3s ease-in-out;
}

.link_home:hover rect,
.link_services:hover rect,
.link_contacts:hover rect,
.link_phone:hover rect,
.link_services-hidden:hover rect {
  stroke: #6cc852;
  border-color: #6cc852;
  transition: all 0.3s ease-in-out;
}

.link_home,
.link_services,
.link_contacts,
.link_phone,
.link_services-hidden {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.link_home:hover,
.link_services:hover,
.link_contacts:hover,
.link_phone:hover,
.link_services-hidden:hover {
  color: #6cc852;
  transition: all 0.3s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s ease-in-out;
  width: 90vw;
  z-index: 1;
}

.main.hide {
  left: -100%;
  transition: all 0.7s ease-in-out;
}

.main_title {
  text-transform: uppercase;
  font-size: 58px;
  line-height: 14px;
  font-weight: 400;
  color: #6cc852;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1;
}

.main_title span {
  text-transform: none;
  font-size: 33px;
  line-height: 14px;
  font-weight: 200;
  color: #fff;
}

.main_button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  border: #ffffff solid 2px;
  padding: 10px;
  border-radius: 5px;
  background-color: inherit;
  margin-top: 40px;
}

.main_button:hover {
  color: #6cc852;
  border: #6cc852 solid 2px;
  transition: all 0.3s ease-in-out;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a19;
  padding: 40px 0;
}

.desc_text-block {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.desc_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
  color: #6cc852;
  text-align: center;
}

.desc_description {
  font-weight: 200;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}

.desc_icon-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.desc_icon-item {
  width: 33.33%;
  text-align: center;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.desc_item-title {
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  color: #fff;
}

.desc_item-description {
  font-size: 14px;
  text-transform: uppercase;
  color: #6cc852;
  line-height: 1.4;
}

.services {
  margin-top: 3em;
  z-index: 1;
}

.services_block {
  display: flex;
  flex-direction: row;
}

.services_names-block {
  border-right: #6cc852 2px solid;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  row-gap: 1em;
  width: fit-content;
}

.services_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  /* position: relative; */
}

.services_items.active {
  color: #6cc852;
}

.services_items.active p {
  color: #6cc852;
}

.services_items.active path {
  fill: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_items.active ellipse {
  fill: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_items.active rect {
  stroke: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_items p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services_items:hover p {
  color: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_items:hover path {
  fill: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_items:hover ellipse {
  fill: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_items:hover rect {
  stroke: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_content-block {
  margin-left: 1em;
  width: 100%;
}

.services_content-item {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: #fff solid 2px;
  background-attachment: fixed;
  padding: 5%;
}

.services_content-item.active {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.services_content-item:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-smart_home.jpeg) no-repeat center;
  background-size: cover;
}

.services_content-item:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-electro.png) no-repeat center;
  background-size: cover;
}

.services_content-item:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-access_control_system.jpg) no-repeat center;
  background-size: cover;
}

.services_content-item:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-security_system.jpg) no-repeat center;
  background-size: cover;
}

.services_content-item:nth-child(5) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-video_surveillance3.jpg) no-repeat center;
  background-size: cover;
}

.services_content-item:nth-child(6) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-intercom.jpg) no-repeat center;
  background-size: cover;
}

.services_content-item:nth-child(7) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-internet.avif) no-repeat center;
  background-size: cover;
}

.services_content-item:nth-child(8) {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(/img/background/bg-tv.jpeg) no-repeat center;
  background-size: cover;
}


.services_content-item h3 {
  font-size: 20px;
  color: #fff;
  padding: 2% 0;
  text-align: center;
}

.services_content-item p {
  font-size: 18px;
  color: #fff;
  line-height: 2em;
}

.services_content-item span p::before {
  content: "✔";
  color: #6cc852;
  padding-right: 1em;
}

.services_content-item span span {
  color: #fff;
  font-size: 18px;
  display: block;
}

.services_content-item span span::before {
  content: "\21aa";
  color: #ffffff;
  padding-right: 1em;
  padding-left: 2em;
}

footer {
  margin-top: 3em;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
}

.footer_block {
  display: flex;
  flex-direction: column;
}

.footer_up {
  border-bottom: solid #333333 1px;
  padding: 1em 0 3em;
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
}

.footer_up-item {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
}

.footer_up-item_desc {
  padding-left: 1em;
  /* line-height: 1.5em; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_up-item_desc h3 {
  font-size: 18px;
  color: #6cc852;
  font-weight: 400;
}

.footer_up-item_desc p,
.footer_up-item_desc a {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.footer_down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3em 0;
  gap: 1em;
}

.footer_down-guarantee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.footer_down-guarantee a {
  font-weight: 200;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  transition: 0.3s ease-in-out;
}

.footer_down-guarantee a:hover,
.footer_up-item_desc a:hover {
  color: #6cc852;
  transition: all 0.3s ease-in-out;
}

.footer_down-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
}

.footer_down-links a:hover svg path {
  fill: #6cc852;
  transition: all 0.3s ease-in-out;
}

.footer_copyright {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.footer_down-guarantee,
.footer_down-links {
  width: calc(100% / 3);
}

.services_block-hidden {
  /* display: none; */
  position: fixed;
  width: 65vw;
  height: 100vh;
  /* z-index: 3; */
  opacity: 0.9;
  transition: all 0.7s ease-in;
  transform: translateX(100%);
  top: 1vh;
  right: 0;
  background-color: #1a1a19;
  overflow-y: auto;
  opacity: 0.9;
  /* border-radius: 1em 0 0 1em; */
  border-left: 2px solid #fff;
}

.active_services {
  display: block;
  /* right: 0; */
  transform: translate(0);
  transition: all 0.7s ease-in;

  z-index: 5;
}

.services_block-hidden .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0;
}

.services_block-hidden-close {
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  padding: 1em 0;
}

.services_block-hidden-close:hover svg path {
  fill: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_block-hidden-desc {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  padding: 1em 0;
}

.services_hidden-elements {
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  row-gap: 3em;
  text-align: center;
}

.services_hidden-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  color: #fff;
  font-weight: 500;
  width: 200px;
}

.services_hidden-items a {
  text-decoration: none;
}

.services_hidden-items:hover p {
  color: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_hidden-items:hover path {
  fill: #6cc852;
  transition: all 0.3s ease-in-out;
}

.services_hidden-items:hover rect {
  stroke: #6cc852;
  transition: all 0.3s ease-in-out;
}

/* BURGER-MENU */

.header_hamb {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: none;
  cursor: pointer;
  /* border-radius: 3em; */
  transition: all 0.5s ease-out;
}

.header_hamb span {
  width: 10em;
  height: 0.15em;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.header_hamb span:nth-of-type(2) {
  top: calc(50% - 0.7em);
}

.header_hamb span:nth-of-type(3) {
  top: calc(50% + 0.7em);
}

.header_hamb.active span:first-of-type {
  opacity: 0.7;
  transform: translateX(+50%);
  transition: all 0.5s ease-in-out;
}

.header_hamb.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
}

.header_hamb.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #fff;
}

.header_hamb:hover span {
  background-color: #6cc852;
  transition: all 0.5s ease-out;
}

.header_hamb.active:hover span:nth-of-type(2) {
  background-color: #6cc852;
  transition: all 0.5s ease-out;
}

.header_hamb.active:hover span:nth-of-type(3) {
  background-color: #6cc852;
  transition: all 0.5s ease-out;
}

.header_hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: -webkit-fill-available;
  transform: translateX(-135%);
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
  height: 100vh;
  border-right: 2px solid #fff;
}

.header_hidden.active {
  transform: translate(0);
  transition: all 1s;
  background-color: #1a1a19;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
}

.header_hidden-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em 2em;
  /* height: 100vh; */
  height: -webkit-fill-available;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  padding-top: 7em;
  row-gap: 4em;
  /* width: 10em; */
}

.buttons_shake {
  position: fixed;
  bottom: 5%;
  right: 6%;
  border-radius: 5em;
  /* box-shadow: #000 0.5em 0.5em 0.5em; */
  backdrop-filter: blur(1px);
  animation: shake 1.5s;
  animation-iteration-count: infinite;
  z-index: 3;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  /* 10% { transform: translate(-1px, -2px) rotate(-1deg); } */
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  /* 40% { transform: translate(1px, -1px) rotate(1deg); } */
  40% { transform: scale(1px, -1px) rotate(10deg); }
  /* 50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  } */
  /* 50% {
    transform: translate(2px, -2px) rotate(20deg);
  } */
  /* 60% {
    transform: translate(-3px, 1px) rotate(0deg);
  } */
  60% {
    transform: translate(3px, -3px) rotate(30deg);
  }
  /* 70% { transform: translate(3px, 1px) rotate(-1deg); } */
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 1199px) {
  .desc_item-title {
    font-size: 16px;
  }

  .footer_down-guarantee {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  /* .services_items::after {
    left: 19%;
} */
}

/* Portrait tablets and small desktops */
/* and (min-width: 768px) */
@media screen and (max-width: 991px) {
  .links,
  .link_phone {
    display: none;
  }
  .header_hamb {
    display: block;
  }
  .services_block-hidden {
    width: 100vw;
  }
  .services_block-hidden-desc {
    font-size: 18px;
  }
  .header_hidden-links li a svg {
    width: 50px;
    height: 50px;
  }
  .header_hidden-links li a {
    font-size: 20px;
  }
  .services_hidden-items svg {
    width: 60px;
    height: 60px;
  }
  .services_hidden-items p {
    font-size: 14px;
  }
  .desc_item-title {
    font-size: 15px;
  }
  .services_items p {
    font-size: 12px;
  }
  .footer_up-item_desc {
    padding-left: 0.5em;
    justify-content: center;
  }
  .footer_up-item_desc h3 {
    font-size: 14px;
  }
  .footer_up-item_desc p,
  .footer_up-item_desc a {
    font-size: 10px;
  }
  .footer_up-item svg {
    height: 30px;
  }
  .footer_down-guarantee a,
  .footer_copyright {
    font-size: 14px;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .services_hidden-elements {
    row-gap: 2em;
  }
  .services_hidden-items {
    gap: 0.5em;
  }
  .services_hidden-items svg {
    width: 50px;
    height: 50px;
  }

  /* .services_block-hidden-desc {
    font-size: 16px;
  } */
  .desc_description {
    font-size: 12px;
  }
  .desc_icon-block {
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
  }
  .desc_icon-item {
    width: 100%;
  }
  .services_names-block {
    width: 37vw;
  }
  .services_items svg {
    width: 45px;
  }
  .footer {
    margin-top: 2em;
  }
  .footer_up {
    flex-flow: row wrap;
    row-gap: 1em;
  }
  .footer_up-item {
    width: 40vw;
    align-items: center;
  }
  .footer_up-item:first-child svg {
    margin-right: 0.7em;
  }

  .footer_up-item:nth-child(2),
  .footer_up-item:nth-child(4) {
    justify-content: flex-end;
  }
  .footer_up-item:nth-child(4) .footer_up-item_desc {
    padding-right: 1em;
  }
  .footer_down-guarantee a,
  .footer_copyright {
    font-size: 9px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .container {
    width: 95%;
  }
  .services_block-hidden-desc {
    padding: 0;
  }
  .services_hidden-elements {
    row-gap: 1em;
    padding: 1em 0 3em 0;
    justify-content: center;
  }
  .services_hidden-elements p {
    font-size: 12px;
  }
  .services_hidden-items {
    width: 150px;
  }
  .services_items p {
    font-size: 10px;
  }
  /* .services_items:after {
    left: 30%;
  } */
  .footer_up {
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
  }
  .footer_up-item {
    justify-content: flex-start;
    width: auto;
  }
  .footer_up-item:nth-child(2),
  .footer_up-item:nth-child(4) {
    justify-content: flex-start;
  }
  .footer_up-item svg {
    min-width: 55px;
  }

  .footer_up-item:first-child svg {
    margin-right: 0em;
  }

  .footer_up-item_desc h3 {
    font-size: 12px;
  }
  .footer_down-links {
    gap: 1em;
  }
  .footer_down-links svg {
    width: 20px;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  /* .services_items:after {
    left: 38%;
  } */
  .services_items p {
    font-size: 8px;
  }
}
